<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="play.decisio.com.showcaselibrary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageViewIconShowcase"
            android:label="@string/title_activity_image_view_icon_showcase" >
        </activity>
        <activity
            android:name=".ToolbarIconshowCase"
            android:label="@string/title_activity_toolbar_iconshow_case"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".overAnotherActivity"
            android:label="@string/title_activity_over_another" >
        </activity>
        <activity
            android:name=".TransparentAactivity"
            android:label="@string/title_activity_transparent_aactivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <activity
            android:name=".MoreThanOneHintActivity"
            android:label="@string/title_activity_more_than_one_hint" >
        </activity>
        <activity
            android:name=".AnyWhereHintActivity"
            android:label="@string/title_activity_any_where_hint" >
        </activity>
    </application>

</manifest>
